body {
}

.copyright {
  color: #ffffff;
}

footer {
  text-align: center;
  margin-top: 1em;
}

footer a {
  color: #ee4444;
}

footer nav.navbar{
  margin-bottom: 0;
}

footer nav.navbar p{
  margin-top: 0.9em;
}

.sidebar p.intro {
  color: #ee4444;
  font-size: 1.3em;
  margin-top: 0px;
}

.sidebar a {
  color: #428bca;
}

.sidebar li {
  margin-top: .7em;
  line-height: 1em;
}

.sidebar a:hover {
  color: #3071a9;
}

.container-left {
  margin: 0;
}

.well h1 {
  color: #ee4444;
  font-size: 1.3em;
}

.author {
  color: #ee4444;
}

.author a {
  color: #ee4444;
}

.punchline {
  font-size: 1.6em;
}
